body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
  gap:20px;
  margin-bottom: 5px;
}


#container {
  width: 900px;
}

#calendar-year-view {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  color: #247BA0;
  gap: 20px;
}

#calendar-year-view > div {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-left: none;
  border-top: 2px solid rgba(5,5,5,0.6);
  border-right: none;
  border-bottom: none;
  color: #000;
  text-align: right;
}

.month-number{
  padding-right: 5px;
}

.day {
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  border-left: none;
  border-top: 2px solid rgba(5,5,5,0.6);
  border-right: none;
  border-bottom: none;
  background-color: white;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #eee;
}

.day + #currentDay {
  background-color:#e6f4ff;
  color: #0000ff
}

#weekdays {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  box-sizing: border-box;
  text-align: right;
}
#weekdays div,
#calendar-month-view > div {
  padding: 10px;
}

#weekdays div {
 padding-bottom: 5px;
}

#calendar-month-view {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  box-sizing: border-box;
}

.event {
  font-size: 10px;
  padding: 5px;
  margin-top: 5px;
  background-color: #f4f4f4;
  color: black;
  border-radius: 5px;
  max-height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;;

}

#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}

#saveButton,
#closeButton {
  background-color: #92a1d1;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.disabled {
  background-color: #f4f4f4;
  color: #b0b0b0;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
  border: 1px solid #b0b0b0;
}

select {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: border 0.3s, box-shadow 0.3s;
  outline: none;
}

select:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.btn-active{
  border: 1px solid #0000ff !important;
  color: #0000ff !important;
}

.month-view-btn{
  border: 1px solid #eee;
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: -7px;
  box-sizing: border-box;
}

.year-view-btn{
  box-sizing: border-box;
  border: 1px solid #eee;
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}